<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django girls web page</title>
</head>
<body>
<div>
    <header>
        <h1>HELLO WORLD</h1>
    </header>
    <h3>Welcome to the world of welsh cakes!</h3>
</div>
<main>
    <p>They are amazing that is <em>all</em> you need to know</p>
    <br>
    <p>They were offered here at <strong>PYCON 2023</strong></p>
</main>
<a href="https://djangogirls.org">Django Girls</a>
<ul>
    <li>That is a link</li>
    <li>This is another point i want to make</li>
</ul>
<aside>
    <nav>
        <a href="#top">Top of page</a>

    </nav>
</aside>
<article>repeat or copy out (words from a text or speech written or spoken by another person).</article>

<time>13:04</time>
</body>
</html>